[id^=menuoflinks_] .navbar.navbar-default.navbar-fixed-top {
	display: block !important;
}

@font-face {
      font-family: "Sancoale Softened Italic";
      src: url("Sancoale Softened Italic.ttf") format("truetype");

      }
	  
@font-face {
      font-family: "Sancoale Softened Medium Italic";
      src: url("Sancoale Softened Medium Italic.ttf") format("truetype");

      }
	  
.Sancoale-Softened-Medium-Italic-font{
    font-family: "Sancoale Softened Medium Italic";  
       } 
	   
.Sancoale-Softened-Italic-font{
    font-family: "Sancoale Softened Italic";  
       } 

[id^=menuoflinks_] .dropdown-submenu {
    position: relative;
}

[id^=menuoflinks_] .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

[id^=menuoflinks_] .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

[id^=menuoflinks_] .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

[id^=menuoflinks_] .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

[id^=menuoflinks_] .dropdown-submenu.pull-left {
    float: none;
}

[id^=menuoflinks_] .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.fluig-style-guide .navbar-fixed-top, .fluig-style-guide .navbar-fixed-bottom {
	position: absolute !important;
  	z-index: 0 !important;
}

#wcm-content 
	/*padding-top: 60px;*/
}

@media (min-width: 1200px) {
.fluig-style-guide .container {
  width: 100% !important;
}
}

[id^=menuoflinks_] .navbar-center > li {
  /*float: none !important;*/
  display: inline-block !important;
}

[id^=menuoflinks_] .nav.navbar-nav.navbar-right {
	padding-right: 10px;
}

/* alignment rules */

ul.nav.navbar-nav {
	padding-right: 17px;
	position: relative !important;
	padding-left: 20% !important;
}

/*
.navbar-nav {
    width: 30% !important;
    text-align: center !important;
  }
 */ 
  
/*.navbar-nav > li {
float: none;
display: inline-block;
}*/
.navbar-nav > li.navbar-right {
float: right !important;
}
.navbar-center > a, .navbar-right > a, .navbar-left > a { float: left !important; }
.navbar-center { 
display: inline !important;
  position: absolute !important;
  top: 0 !important;
 }

[appcode=menuoflinks] .navbar.navbar-default.navbar-fixed-top, 
[appcode=menuoflinks] .collapse.navbar-collapse, 
[appcode=menuoflinks] .navbar,
[appcode=menuoflinks] .nav.navbar-nav,
[appcode=menuoflinks] .navbar-nav>li>a {
    min-height: 30px !important;
    padding: 0px !important;
	font-family: "Sancoale Softened Italic";
	font-size: 20px;
}
[appcode=menuoflinks] .navbar-nav>li>a {
    padding: 5px 8px 1px !important;
}

[id^=menuoflinks_] .navbar-default .navbar-nav>li>a { font-weight: 600 !important; } 
